{% extends 'base.html' %}
{% load static%}
{% block content %}
   
    <!-- Hero Section-->
    <section style="background: url({% static 'img/hero.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>The Diary of an Average Teenager</h1>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">My Personal Blog</h2>
            <p class="text-big">Hey Guys! Its me <strong>Atharva Waze</strong>.
            About time i decided to start my own Personal Blog.I always wanted to maintain a <strong>Diary</strong> to maintain a track of all the important events happening in my life. This blog serves the purpose of my diary which never existed till date alongwith all general generic opinions of mine on stuff happening around the world.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for object in object_list %}
        <div class="row d-flex align-items-stretch">
            {% if not forloop.first and not forloop.last %}
            <div class="image col-lg-5"><img src="{{ object.thumbnail.url }}" alt="..."></div>
            {% endif %}
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    {% for cat in object.categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}
                    </div>
                  <a href="{{object.get_absolute_url}}">
                    <h2 class="h4">{{object.title}}</h2>
                  </a>
                </header>
                <p>{{ object.overview }}</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ object.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{object.author}}</span></div></a>
                  <div class="date"><i class="icon-clock"></i>{{object.timestamp|timesince}} ago </div>
                  <div class="comments"><i class="icon-comment"></i>{{object.comment_count}}</div>
                </footer>
              </div>
            </div>
          </div>
          {% if forloop.first or forloop.last %}
          <div class="image col-lg-5"><img src="{{ object.thumbnail.url }}" alt="..."></div>
          {% endif %}
        </div>
        {% endfor %}
       
         
         
    </section>
    <!-- Divider Section-->
    <section style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2><p>“There is no greater agony than bearing an untold story inside you.”
              
              </h2>
            <h3>― Maya Angelou</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest from the blog</h2>
          <p class="text-big">My latest posts irrespective of the category are displayed here.</p>
        </header>
        <div class="row">
          {% for lat in latest %}
          <div class="post col-md-4">
            <div class="post-thumbnail"><a href="{{lat.get_absolute_url}}"><img src="{{lat.thumbnail.url}}" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">{{lat.timestamp|timesince}}</div>
                {% for cat in lat.categories.all %}
                <div class="category">{{cat}}<a href="#"></a></div>
                {% endfor %}
              </div><a href="{{lat.get_absolute_url}}">
                <h3 class="h4">{{lat.title}}</h3></a>
              <p class="text-muted">{{lat.overview}}</p>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">Dont worry Guys....I wont spam you.Its just a way to keep a tab of interested people! </p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <!-- Page Footer-->
 
    <!-- JavaScript files-->
{% endblock content %}